@import (reference) '../color.less';

.has-fill {
  &.ant-input-number,
  &.ant-input,
  &.ant-input-affix-wrapper {
    border-color: transparent;
    background-color: @control-bg;

    .ant-input {
      background-color: transparent;
    }
  }

  .ant-input-number-group .ant-input-number-group-addon {
    border-color: transparent;
    background-color: @control-bg;
  }
}

// // input
// .ant-input {
//   // background-color: transparent;

//   &-number,
//   &-number-group-wrapper {
//     width: 100% !important;
//     min-width: 110px;
//     max-width: 100%;
//   }
// }

// .ant-input-affix-wrapper .ant-input-suffix {
//   right: 9px;
// }

// .ant-input-clear-icon {
//   margin-right: 5px;
// }

// .ant-input-affix-wrapper-textarea-with-clear-btn {
//   padding: 0 !important;

//   textarea.ant-input {
//     padding: 4px;
//   }
// }

// .ant-input-group.ant-input-group-compact > *:last-child {
//   border-inline-end-width: 0;
// }

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   appearance: none !important;
//   margin: 0;
// }

// input[type='number'] {
//   appearance: textfield;
// }

// .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
// .ant-input-affix-wrapper-focused {
//   background-color: @control-hover-bg;

//   .ant-input {
//     background-color: transparent;
//   }
// }

// .ant-input-group:hover {
//   .ant-input:not(.ant-input-disabled) {
//     background-color: @control-hover-bg;
//   }
// }
