@import (reference) '../color.less';

.ant-form {
  &.no-large-label.ant-form-large .ant-form-item .ant-form-item-label {
    padding-bottom: 4px;

    > label {
      height: auto;
      color: @text-color-secondary;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.small-margin {
  &.ant-form {
    .ant-form-item-label {
      padding-bottom: 4px;
    }

    .ant-form-item {
      margin-bottom: 12px;
    }
  }
}